<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/head.ejs') %>

    <body>
        <%- include('../layouts/nav.ejs') %>
            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a ullamcorper ante. Nullam sed risus eget ligula maximus tristique. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a ullamcorper ante. Nullam sed risus eget ligula maximus tristique. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a ullamcorper ante. Nullam sed risus eget ligula maximus tristique. </p>
            </div>
            <%- include('../layouts/footer.ejs') %>

    </body>

</html>